{%include 'header.html'%}


<br><br><br><br><br><br><br><br><br><br>




<center>

    <h2>EXIT PARKING VIDEO</h2>
<form action="" method="post" enctype="multipart/form-data">
    <table class="table" style="width: 500px;">
        <tr>
            <th>UPLOAD VIDEO</th>
        </tr>
        <tr>
            <th><input type="file" name="video" required></th>
        </tr>
        <tr>
            <th><input type="submit" class="btn btn-primary" name="submit"></th>
        </tr>
    </table>
</form>
</center>