<style>
    .cid-u1jjZn7TFc {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-color: #000000;
    }
    .cid-u1jjZn7TFc .social-row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .cid-u1jjZn7TFc .social-row .soc-item {
      margin: 8px;
    }
    .cid-u1jjZn7TFc .social-row .soc-item a:hover .mbr-iconfont,
    .cid-u1jjZn7TFc .social-row .soc-item a:focus .mbr-iconfont {
      background-color: #ffffff;
    }
    .cid-u1jjZn7TFc .social-row .soc-item a .mbr-iconfont {
      width: 72px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 32px;
      background-color: #edefeb;
      color: #000000;
      transition: all 0.3s ease-in-out;
    }
    .cid-u1jjZn7TFc .row-links {
      width: 100%;
      justify-content: center;
    }
    .cid-u1jjZn7TFc .header-menu {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 0;
    }
    .cid-u1jjZn7TFc .header-menu li {
      padding: 0 1rem 1rem 1rem;
    }
    .cid-u1jjZn7TFc .header-menu li p {
      margin: 0;
    }
    .cid-u1jjZn7TFc .copyright {
      margin-bottom: 0;
      color: #ffffff;
      text-align: center;
    }
    .cid-u1jjZn7TFc .mbr-section-title {
      color: #ffffff;
    }
    
    </style>
    <section class="footer3 cid-u1jjZn7TFc" once="footers" id="footer-6-u1jjZn7TFc">
        <div class="container">
                <div class="col-12 mt-4">
                    <p class="mbr-fonts-style copyright display-7">
                        © 2024 ParkSmart. All Rights Reserved.
                    </p>
                </div>
            </div>
    </section>
    